<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">Especifique la cantidad y el tipo</p>

        <form [formGroup]="ingresoEgresoForm" (ngSubmit)="save()">
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              formControlName="description"
              name="description"
            />
            <p
              *ngIf="form['description'].hasError('minlength')"
              class="invalid-feedback d-block"
            >
              Mínimo 5 caracteres
            </p>
          </div>

          <div class="form-group">
            <label>Cantidad</label>
            <input
              type="number"
              class="form-control"
              placeholder="Cantidad"
              formControlName="amount"
              name="amount"
            />
            <p
              *ngIf="form['amount'].hasError('min')"
              class="invalid-feedback d-block"
            >
              Debe de ser una cantidad positiva
            </p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br />
            <button
              type="button"
              class="btn btn-block"
              (click)="
                type === ingresoEgresoType.EGRESO
                  ? (type = ingresoEgresoType.INGRESO)
                  : (type = ingresoEgresoType.EGRESO)
              "
              [ngClass]="
                type === ingresoEgresoType.EGRESO
                  ? 'btn-warning'
                  : 'btn-primary'
              "
            >
              {{ ingresoEgresoType[type] | titlecase }}
            </button>
          </div>

          <hr />
          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="isLoading || ingresoEgresoForm.invalid"
          >
            <i
              class="fa"
              [ngClass]="isLoading ? 'fa-spin fa-sync' : 'fa-save'"
            ></i>
            Agregar
          </button>

          <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->

          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
